<app-navbar></app-navbar>
<div class="text-2xl  text-center">    
    <div class="flex justify-center">
        <div class="bg-custom-violet w-1/2 rounded-md text-custom-bright-lilac">
            <h1 class="text-xl font-pressstart">Welcome to STL Market Place!</h1>
            <h2 class="text-base font-audiowide">A place to share 3D printed files and earn money</h2>
        </div>
    </div>


    @if (this.bestModelSTLs.length===0) {
        <div></div>
    }@else {
        <div class="flex flex-col justify-center"> 
            <div class="flex flex-row justify-center gap-4 m-2 p-2 text-base">
                <button [ngClass]="{
                        'button3': stlPrevPageAvaible,
                        'button4': !stlPrevPageAvaible
                    }" (click)="prevPage()" [disabled]="!stlPrevPageAvaible">
                    Previous
                </button>
                <div class="flex items-center justify-center">
                    <span class="mx-2">Page</span>
                    <div class="font-bold">{{this.currentPage}}</div>
                </div>
                <button [ngClass]="{
                        'button3': stlNextPageAvaible,
                        'button4': !stlNextPageAvaible
                    }" (click)="nextPage()" [disabled]="!stlNextPageAvaible">
                    Next
                </button>
            </div>
            <div class="flex flex-wrap justify-center gap-4 m-2 p-2">
                @for (stl of this.bestModelSTLs; track stl) {
                    <app-stl-card [stl]="stl"></app-stl-card>
                }
            </div>
        </div>
    }
</div>

