<app-navbar></app-navbar>
<div class="text-2xl  text-center">    
    <div class="flex justify-center">
        <div class="bg-custom-violet w-1/2 rounded-md text-custom-bright-lilac">
            <h1 class="text-xl font-pressstart">Welcome to STL Market Place!</h1>
            <h2 class="text-base font-audiowide p-2">A place to share 3D printed files and earn money</h2>
        </div>
    </div>

    <div class="flex justify-center">
        <div class="flex justify-center gap-4 m-2 bg-custom-violet rounded-md p-2">
            <button class="button1" (click)="this.searchForAlbum()">
                Show Albums
            </button>
            <button class="button1" (click)="this.searchForSTL()">
                Show STLs
            </button>
        </div>
    </div>

    @if (this.searchingForSTL) {
            <div class="bg-custom-blue-night m-4 p-4 rounded-md border border-custom-violet shadow">
                <h2 class="text-2xl text-custom-bright-lilac font-audiowide text-center mb-2">Best STLs</h2>
            </div>
            <div class="flex flex-col justify-center"> 
                <div class="flex justify-center flex-row">
                    <input type="text" placeholder="Search STLs..." 
                    class="rounded-md p-2 m-2 w-1/2 md:w-1/4 text-black" 
                    [(ngModel)]="searchSTLInput"
                    />
                    <button class="button1" (click)="searchForSTL()">Search</button>
                </div>
                <div class="flex flex-row justify-center gap-4 m-2 p-2 text-base">
                    <button [ngClass]="{
                            'button3': stlPrevPageAvaible,
                            'button4': !stlPrevPageAvaible
                        }" (click)="prevPage()" [disabled]="!stlPrevPageAvaible">
                        Previous
                    </button>
                    <div class="flex items-center justify-center">
                        <span class="mx-2">Page</span>
                        <div class="font-bold">{{this.currentPage}}</div>
                    </div>
                    <button [ngClass]="{
                            'button3': stlNextPageAvaible,
                            'button4': !stlNextPageAvaible
                        }" (click)="nextPage()" [disabled]="!stlNextPageAvaible">
                        Next
                    </button>
                </div>
            @if (this.bestModelSTLs.length>0) {
                <div class="flex flex-wrap justify-center gap-4 m-2 p-2">
                    @for (stl of this.bestModelSTLs; track stl) {
                        <app-stl-card [stl]="stl"></app-stl-card>
                    }
                </div>
            }@else {
                <div class="text-center text-xl text-custom-bright-lilac font-audiowide m-4 p-4">
                    No STLs found.
                </div>
            }
            </div>
    }@else if (this.searchingForAlbum){
            <div class="bg-custom-blue-night m-4 p-4 rounded-md border border-custom-violet shadow">
                <h2 class="text-2xl text-custom-bright-lilac font-audiowide text-center mb-2">Best Albums</h2>
            </div>
            <div class="flex flex-col justify-center"> 
                <div class="flex justify-center flex-row">
                    <input type="text" placeholder="Search Albums..." 
                    class="rounded-md p-2 m-2 w-1/2 md:w-1/4 text-black" 
                    [(ngModel)]="searchAlbumInput"
                    />
                    <button class="button1" (click)="searchForAlbum()">Search</button>
                </div>
                <div class="flex flex-row justify-center gap-4 m-2 p-2 text-base">
                    <button [ngClass]="{
                            'button3': albumPrevPageAvaible,
                            'button4': !albumPrevPageAvaible
                        }" (click)="albumPrevPage()"[disabled]="!albumPrevPageAvaible">
                        Previous
                    </button>
                    <div class="flex items-center justify-center">
                        <span class="mx-2">Page</span>
                        <div class="font-bold">{{this.albumCurrentPage}}</div>
                    </div>
                    <button [ngClass]="{
                            'button3': albumNextPageAvaible,
                            'button4': !albumNextPageAvaible
                        }" (click)="albumNextPage()" [disabled]="!albumNextPageAvaible">
                        Next
                    </button>
                </div>
                @if (this.bestAlbum.length>0) {
                    <div class="flex flex-wrap justify-center gap-4 m-2 p-2">
                        @for (album of this.bestAlbum; track album) {
                            <app-album-card class="font-orbitron text-base" [album]="album"></app-album-card>
                        }
                    </div> 
                } @else {
                    <div class="text-center text-xl text-custom-bright-lilac font-audiowide m-4 p-4">
                        No albums found.
                    </div>
                }
        </div>
    }       
