<app-navbar></app-navbar>

<div class="max-w-xl mx-auto p-4 font-audiowide">
  @if (this.uploadingForm) {
    <div class="fixed inset-0 z-50 flex items-center justify-center backdrop-blur-sm bg-black/40">
      <app-loader></app-loader>
    </div>
  }
  <form [formGroup]="postSTLForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data" class="space-y-6">
    <!-- STL Name -->
    <div>
      <label class="block font-semibold mb-1">Model Name:</label>
      <input
        type="text"
        formControlName="name"
        placeholder="Enter STL model name"
        class="w-full border rounded p-2"
      />
      <div>
        @if (!this.postSTLForm.valid && this.postSTLForm.get("name")?.touched) {
          @if (this.postSTLForm.get("name")?.errors?.["required"]) {
            <h2 class="inputAlert">Name is required</h2>
          }@else if(this.postSTLForm.get("name")?.errors?.["minlength"]){
            <h2 class="inputAlert">Name requires at least 6 characters </h2>
          }@else if (this.postSTLForm.get("name")?.errors?.["maxLength"]) {
            <h2 class="inputAlert">Name cannot exceed 30 characters</h2>
          }
        }
      </div>
    </div>

    <!-- Description -->
    <div>
      <label class="block font-semibold mb-1">Description:</label>
      <textarea
        formControlName="description"
        placeholder="Enter a detailed description"
        rows="4"
        class="w-full border rounded p-2"
      ></textarea>
      <div>
        @if (!this.postSTLForm.valid && this.postSTLForm.get("description")?.touched) {
          @if (this.postSTLForm.get("description")?.errors?.["required"]) {
            <h2 class="inputAlert">Description is required</h2>
          }@else if(this.postSTLForm.get("description")?.errors?.["minlength"]){
            <h2 class="inputAlert">Description requires at least 25 characters</h2>
          }@else if (this.postSTLForm.get("description")?.errors?.["maxlength"]) {
            <h2 class="inputAlert">Description cannot exceed 300 characters</h2>
          }
        }
      </div>
    </div>

   <!-- STL Zip Upload -->
    <div>
    <label class="block font-semibold mb-1">STL Zip or STL File:</label>
    <input
        type="file"
        (change)="onFileSelected($event)"
        required
        accept=".stl"
        class="block w-full border rounded p-2"
    />

      <div *ngIf="this.selectedFile" class="cursor-pointer rounded-xl border border-custom-tulip shadow-md mb-6">
        <app-stl-viewer [stlFile]="this.selectedFile"></app-stl-viewer>
      </div>
    
    </div>

    <!-- Preview Images -->
    <div>
    <label class="block font-semibold mb-1">Preview Images (Max 4):</label>
    <input
        type="file"
        multiple
        accept="image/*"
        (change)="onImagesSelected($event)"
        class="block w-full border rounded p-2"
    />
    </div>


    <!-- Categories and price -->
    <div class="grid grid-cols-2 gap-3">
      <div>

        <h2>Category 1:</h2>
        <ng-select
        [items]="categoryOptions"
        bindLabel="label"
        bindValue="value"
        [searchable]="true"
        formControlName="category1"
        class="w-full border rounded p-2 bg-white"
        ></ng-select>
      </div>

      <div>

        <h2>Category 2:</h2>
        <ng-select
        [items]="categoryOptions"
        bindLabel="label"
        bindValue="value"
        [searchable]="true"
        formControlName="category2"
        placeholder="Select Category 2"
        class="w-full border rounded p-2 bg-white"
        ></ng-select>
      </div>
    </div>
    <input
      type="number"
      formControlName="price"
      placeholder="Price (min 2€)"
      min="2"
      step="0.01"
      class="w-full border rounded p-2 bg-white"
      appearance="outline"
    />
    <div>
      @if (!this.postSTLForm.valid && this.postSTLForm.get("price")?.touched) {
        @if (this.postSTLForm.get("price")?.errors?.["required"]) {
          <h2 class="inputAlert">Price is required</h2>
        }@else if(this.postSTLForm.get("price")?.errors?.["min"]){
          <h2 class="inputAlert">Price has to be 2 euro or more</h2>
        }
      }
    </div>

    <!-- Submit Button -->
    <div class="flex justify-center">
      <button type="submit" class="button1">
        Upload STL
      </button>
    </div>
  </form>
</div>
