@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Orbitron:wght@400..900&family=Press+Start+2P&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    background-color: #5f464f;
}

.button1 {
  @apply border-2 border-custom-dark-pink rounded-md pl-4 pr-4 p-2 
         bg-custom-mint text-custom-dark-pink font-audiowide cursor-pointer
         hover:bg-custom-shamrock-green hover:border-custom-mint
         transition duration-150;
}
.button2{
     @apply border-2 border-custom-dark-pink rounded-md pl-4 pr-4 p-2 
         bg-custom-rosy text-custom-dark-pink font-audiowide cursor-pointer
         hover:bg-custom-pink hover:border-custom-sage
         transition duration-150;
}

.input1 {
    @apply rounded-md bg-custom-dark-pink text-center 
    pl-4 pr-4 p-2 text-custom-mint m-2;
}