<div class="flex justify-center items-center ">
    <div class="w-2/3 md:w-1/2 mt-10 bg-custom-blue-night border-2 border-custom-blue-night rounded-md p-2 m-4">
    <form [formGroup]="registerForm" (ngSubmit)="sendRegisterData($event)">
        <h1 class="text-center font-audiowide text-xl text-custom-bright-lilac">
            Register to STL Marketplace            
        </h1>
        <div class="flex flex-col justify-center">
            <div class="grid justify-center">
                <input class="input1"
                formControlName="email" placeholder="Email" type="email">
                <div>
                    @if (!this.registerForm.valid && this.registerForm.get("email")?.touched) {
                        @if (this.registerForm.get("email")?.errors?.["required"]) {
                            <h2 class="inputAlert">Email is required</h2>
                        }@else if (this.registerForm.get("email")?.errors?.["email"]){
                            <h2 class="inputAlert">It is not a valid Email</h2>
                        }
                    }
                </div>
            </div>
            <div class="grid justify-center">
                <input class="input1"
                formControlName="username" placeholder="Username" type="text">
                <div>
                    @if (!this.registerForm.valid && this.registerForm.get("username")?.touched) {
                        @if (this.registerForm.get("username")?.errors?.["required"]) {
                            <h2 class="inputAlert">Username is required</h2>
                        }@else if (this.registerForm.get("username")?.errors?.["minlength"]) {
                             <h2 class="inputAlert">Username need to have at least 5 characters</h2>
                        }@else if (this.registerForm.get("username")?.errors?.["maxlength"]) {
                             <h2 class="inputAlert">Username characters limit is 25</h2>
                        }
                    }
                </div>
            </div>
            <div class="grid justify-center">
                <input class="input1" 
                formControlName="password1" placeholder="Password" type="password"> 
                <div>
                    @if (!this.registerForm.valid && this.registerForm.get("password1")?.touched) {
                        @if (this.registerForm.get("password1")?.errors?.["required"]) {
                            <h2 class="inputAlert">Password is required</h2>
                        }@else if (this.registerForm.get("password1")?.errors?.["minlength"]) {
                            <h2 class="inputAlert">Password need to ahve at least 6 characters</h2>
                        }@else if (this.registerForm.get("password1")?.errors?.["maxlength"]) {
                            <h2 class="inputAlert">Password cannot exceed 20 characters</h2>
                        }
                    }
                </div>
            </div>
            <div class="grid justify-center">
                <input class="input1" 
                formControlName="password2" placeholder="Confirm Password" type="password"> 
                 <div>
                    @if (!this.registerForm.valid && this.registerForm.get("password2")?.touched) {
                        @if (this.registerForm.get("password2")?.errors?.["required"]) {
                            <h2 class="inputAlert">Password is required</h2>
                        }@else if (this.registerForm.get("password2")?.errors?.["minlength"]) {
                            <h2 class="inputAlert">Password need to ahve at least 6 characters</h2>
                        }@else if (this.registerForm.get("password2")?.errors?.["maxlength"]) {
                            <h2 class="inputAlert">Password cannot exceed 20 characters</h2>
                        }@else if(this.registerForm.get("password2")?.hasError("passwordMismatch")){
                            <h2 class="inputAlert">Passwords dont match</h2>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="flex flex-row justify-center gap-4 p-2 m-2">
            <button class="button1" type="submit">
                Submit
            </button>
            <button class="button1" (click)="goToLogin()">
                Go to login
            </button>
        </div>
    </form>
    </div>
</div>
